.chat-item {
  padding: 8px;
  font-size: 12px;
  line-height: 20px;
  border-radius: var(--border-radius-small);

  &-actions {
    display: flex;
    opacity: 0;

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      margin-right: 4px;
      color: var(--color-text-3);
      font-size: 14px;
      border-radius: var(--border-radius-circle);
      cursor: pointer;

      &:hover {
        background-color: rgb(var(--gray-3));
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &:hover {
    background-color: rgb(var(--gray-2));

    .chat-item-actions {
      opacity: 1;
    }
  }
}
