.content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-medium) !important;
  background-color: var(--color-bg-1);
}

.general-card {
  border-radius: var(--border-radius-medium);
  border: none;

  & > .arco-card-header {
    height: auto;
    padding: 20px;
    border: none;
  }

  & > .arco-card-body {
    padding: 0 20px 20px;
  }
}

.echarts-tooltip-diy {
  background: linear-gradient(
    304.17deg,
    rgb(253 254 255 / 60%) -6.04%,
    rgb(244 247 252 / 60%) 85.2%
  ) !important;
  border: none !important;
  backdrop-filter: blur(10px) !important;

  /* Note: backdrop-filter has minimal browser support */

  border-radius: var(--border-radius-medium);

  .content-panel {
    display: flex;
    justify-content: space-between;
    padding: 0 9px;
    background: rgb(255 255 255 / 80%);
    width: 164px;
    height: 32px;
    line-height: 32px;
    box-shadow: 6px 0 20px rgb(34 87 188 / 10%);
    border-radius: var(--border-radius-medium);
    margin-bottom: 4px;
  }

  .tooltip-title {
    margin: 0 0 10px;
  }

  p {
    margin: 0;
  }

  .tooltip-title,
  .tooltip-value {
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #1d2129;
    font-weight: bold;
  }

  .tooltip-item-icon {
    display: inline-block;
    margin-right: 8px;
    width: 10px;
    height: 10px;
    border-radius: var(--border-radius-circle);
  }
}
