.card {
  :global(.arco-card-meta-title) {
    margin-bottom: 20px;
  }

  :global(.arco-card-meta-content) {
    height: 88px;
  }
}

.skeleton-card {
  height: 170px;
}

.add-card {
  height: 172px;
}
