.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-bottom: 4px;
  color: rgb(var(--dark-gray-1));
  line-height: 32px;
  font-size: 16px;
  text-align: center;
  background-color: rgb(var(--gray-1));
  border-radius: 4px;
}

.wrapper {
  text-align: center;
  cursor: pointer;
  &:hover {
    .icon {
      color: rgb(var(--arcoblue-6));
      background-color: #e8f3ff;
    }
    .text {
      color: rgb(var(--arcoblue-6));
    }
  }
}

.text {
  font-size: 12px;
}

.arco-card-body {
  border-color: green !important;
}
