.icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-bottom: 4px;
  color: rgb(var(--dark-gray-1));
  line-height: 32px;
  font-size: 16px;
  text-align: center;
  background-color: rgb(var(--gray-1));
  border-radius: var(--border-radius-medium);
}

.text {
  font-size: 12px;
  overflow-wrap: normal;
  color: rgb(var(--gray-8));
}

.wrapper {
  text-align: center;
  cursor: pointer;

  &:hover {
    .icon {
      color: rgb(var(--arcoblue-6));
      background-color: rgb(var(--blue-1));
    }

    .text {
      color: rgb(var(--arcoblue-6));
    }
  }
}

.area {
  :global(.arco-card-body) {
    padding-left: 0;
    padding-right: 0;
  }
}
