.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  background-color: var(--color-bg-2);
  padding-left: 1.25rem /* 20px */;
  box-sizing: border-box;
  border-bottom: 1px solid var(--color-border);
  min-width: 1100px;
}

.nav-btn {
  border-color: rgb(var(--gray-2)) !important;
  color: rgb(var(--gray-8)) !important;
  font-size: 16px;
}

.sider {
  height: 100%;
  position: fixed;
  left: 0;
  z-index: 50;
  box-sizing: border-box;
}
.main {
  min-width: 1100px;
  min-height: 100vh;
  transition-property: padding-left;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 0.2s;

  background: var(--color-fill-2);
}
